<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>H8 Model</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>Rain Classifier</h1>
        <form action="{{ url_for('predict')}}">
            <input type="text" name="ssc" placeholder="Secondary Education Score" required="required"/>
            <input type="text" name="hsc" placeholder="Higher Education Score" required="required"/>
            <input type="text" name="degree" placeholder="University Education Score" required="required"/>
            <input type="text" name="etest" placeholder="Interview Score" required="required"/>
            <input type="text" name="etest" placeholder="Interview Score" required="required"/>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
    </body>
</html>